<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.icia.classManager.IClassManagerDao">
 
 <select id="selectCourse" parameterType="String" resultMap="coBean">
 SELECT * FROM COFL WHERE CO_IDNUM=#{value} AND FL_SUBVD ='course' AND NOT CO_NUM =0
 </select>
 
 <resultMap type="com.icia.course.CourseBean" id="coBean">
 <id column="CO_IDNUM" property="co_idnum"/>
<result column="CO_LV" property="co_lv"/>
<result column="CO_NUM" property="co_num"/>
<result column="CO_NAME" property="co_name"/>
<result column="CO_CONT" property="co_cont"/>
<collection property="fbList" column="{co_idnum=CO_IDNUM,co_num=CO_NUM}"  javaType="ArrayList" ofType="com.icia.course.CourseFilesBean" select="selectFiles"></collection>
 </resultMap>
 
 <select id="selectFiles" parameterType="Map" resultType="com.icia.course.CourseFilesBean">
  SELECT * FROM COFL WHERE CO_IDNUM=#{co_idnum} AND CO_NUM=#{co_num} 
 </select>
 

</mapper> 