<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.course.ICourseDao">

<select id="courseList" parameterType="String" resultType="com.icia.course.CourseBean" >
	SELECT CO_NUM FROM CO WHERE CO_IDNUM=#{co_idnum} 
</select>


<select id="myCoList" parameterType="String" resultMap="coBean">
SELECT * FROM COFL WHERE CO_NUM=#{co_num} AND CO_IDNUM=#{co_idnum}
</select>
<resultMap type="com.icia.course.CourseBean" id="coBean">
<id column="CO_IDNUM" property="co_idnum"/>
<id column="CO_NUM" property="co_num"/>
<result column="CO_LV" property="co_lv"/>
<result column="CO_NAME" property="co_name"/>
<result column="CO_CONT" property="co_cont"/>
<collection property="fbList" javaType="ArrayList" resultMap="coFlBean"></collection>
</resultMap>
<resultMap type="com.icia.course.CourseFilesBean" id="coFlBean">
<id column="FL_IDNUM" property="fl_idnum"/>
<id column="FL_NUM" property="fl_num"/>
<result column="FL_SUBVD" property="fl_subvd"/>
<result column="FL_SYSNAME" property="fl_sysname"/>
<result column="FL_ORINAME" property="fl_oriname"/>
<result column="FL_ID" property="fl_id"/>
<result column="FL_LV" property="fl_lv"/>
</resultMap>




<select id="myfilesList" parameterType="String" resultType="com.icia.course.CourseFilesBean" >
	SELECT * FROM COFL WHERE FL_NUM=#{co_num}
</select>


<insert id="insertCourse">
INSERT INTO COURSE VALUES(#{co_num},#{co_lv},#{co_name},#{co_idnum},#{co_cont})
</insert>
<insert id="courseFileInsert">
INSERT INTO FILES VALUES(#{fl_subvd},#{fl_sysname},#{fl_oriname},#{fl_num},#{fl_id},#{fl_idnum},#{fl_lv})
</insert>


<delete id="deleteCourseFiles">
DELETE FL WHERE FL_SUBVD='course' AND FL_SYSNAME=#{fl_sysname} AND FL_NUM=#{fl_num} AND FL_LV=#{fl_lv}
</delete>

<delete id="deleteCourse">
DELETE CO WHERE CO_NUM=#{co_num} AND CO_LV=#{co_lv} AND CO_IDNUM=#{co_idnum}
</delete>

<update id="updateCourse">
UPDATE CO SET CO_NAME=#{co_name}, CO_CONT=#{co_cont} WHERE CO_NUM=#{co_num} AND CO_IDNUM=#{co_idnum} AND CO_LV=#{co_lv}
</update>

<update id="updateCourseFile">
UPDATE FL SET FL_SYSNAME=#{fl_sysname}, FL_ORINAME=#{fl_oriname} WHERE FL_NUM=#{fl_num} AND FL_IDNUM=#{fl_idnum} AND FL_LV=#{fl_lv}
</update>





</mapper>
