<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.planClass.IPlanClassDao">

<insert id="insertplanclass" parameterType="classUp">
INSERT INTO PLANCLASS VALUES(#{pc_idnum},#{pc_lv},#{pc_title},#{pc_cont})
</insert>
<update id="updateplanclass" parameterType="classUp">
UPDATE PLANCLASS SET PC_TITLE=#{pc_title} , PC_CONT=#{pc_cont}
WHERE PC_IDNUM=#{pc_idnum} AND PC_LV=#{pc_lv}
</update>
</mapper>